<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra</title>
    <link rel="stylesheet" href="static/styles.css">
    <style>
        input {
            width: 5%; /* Increase width */
            padding: 12px 18px;
            margin: 12px 0;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            background: rgba(255, 255, 255, 0.1); /* Light glass effect */
            color: #E0D9FF; /* Light text for readability */
            outline: none;
            transition: background 0.3s ease, box-shadow 0.3s ease;
        }
    </style>
</head>
<body>
    <img src="static/logo.png" alt="Logo" class="logo">
    <form action="/diet1"> 
        <label><h2>Select the Experience of the gym</h2>
            <button type="submit" >Beginner</button> 
        </form>
        <form action="/diet2">
        <button type="submit" >Intermediate</button>
    </form >
    <form action="/diet3">
        <button type="submit" >Experienced</button>
    </form>
</form>
    <script src="static/script.js"></script>
</body>
</html>
