<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body><img src="static/logo.png" alt="Logo" class="logo">
    <div class="login" align="center">
    <form action="/diet2" method="Get">
        <div class="login-container">
            <h2>Login</h2>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
           <button type="submit"><a href="diet2">Submit</a></button>
    </div>
    </form>
</body>
</html>
